.unopened {
	background-color: #999;
}

.opened {
	background-color: white;
}

.piece {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 0;
	text-align: center;
	font-size: 16px;
	padding-top: 1px;
	position: absolute;
}

.flag {
	background-image: url('../assets/flag.png');
	background-size: 40px 40px;
}

.mine {
	background-image: url('../assets/mine.jpg');
	background-size: 40px 40px;
}

.board {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 75%;
}